/* Media Queries for Large Screens */
@media screen and (min-width: 500px) {
    header, main {
        padding: 1.5rem 3rem;
    }

    h1, h2 {
        padding: 1rem;
    }

    .toggle-button {
        display: none;
    }

    .navbar-links {
        display: flex;
        position: static;
        background-color: transparent;
        width: auto;
        transform: none;
    }

    .navbar-links ul {
        display: flex;
        align-items: center;
    }

    .navbar-links li {
        margin: 0 0.5rem;
    }

    .navbar-links li a {
        padding: 0.5rem;
    }

    .navbar-links li:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    .box {
        width: 45%;
    }

    .box p {
        font-size: 20px;
        height: 50%;
    }

    .img-container {
        grid-template-columns: repeat(2, 1fr);
    }
}