/*The whole page*/
body {
    display: grid;
    height: auto;
    grid-template: auto 1fr auto;
    background-color: bisque;
}

/*Top - Span full*/
header {
    grid-column: 1 / 5;
    background-color: aquamarine;
}

/*Split into 4 parts*/
.tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: aqua;
    text-align: center;
}

/*Left main side - span 4 parts*/
main {
    display: flex;
    grid-column: 1 / 4;
    background-color: rgb(110, 42, 173);
    padding: 2rem;
}

/*Right main side - span last block*/
.aside-content {
    display: flex;
    grid-column: 4 / 5;
    background-color: violet;
    padding: 2rem;
}

/*Full span*/
footer {
    display:  flex;
    grid-column: 1 / 5;
    background-color: aquamarine;
}