/*Header, Body, footer, Page*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    --primary-color: #333;
    --secondary-color: white;
    --accent-color: #dce3e3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
    max-width: 100%;
}

#content-wrap {
    padding-bottom: 1rem;
}

header,
footer {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: auto;
}

footer {
    position: relative;
    bottom: 0;
}

body {
    font-weight: 400;
    min-height: 100vh;
}

main {
    max-width: 95%;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    border: 1px solid var(--primary-color);
    background-color: rgba(233, 216, 234);
}

/*Product Review Contents*/
fieldset {
    margin: .75rem 0;
    border: none;
}

label {
    display: block;
    padding: .5rem;
    font-size: larger;
    font-weight: bold;
}

input[id="user-name"],
input[id="installation-date"],
select[id="product-name"],
input[type="submit"],
textarea[id="review"] {
    background-color: var(--accent-color);
    padding: .85rem;
    border: 1px solid #333;
    border-radius: 6px;
    width: 100%;
    font-size: large;
    display: block;
}

input[type="submit"] {
    font-weight: bolder;
    box-shadow: 2px 2px grey;
}

textarea[id="review"] {
    min-height: 100px;
}

.radio-option {
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    display: flex;
    align-items: center;
}