@media screen and (min-width: 500px){

#page-container {
    max-width: 70%;
}

input[id="user-name"], 
input[id="installation-date"], 
select[id="product-name"],
input[type="submit"] {
    max-width: 70%;
}

textarea[id="review"] {
    max-width: 70%;
}

footer {
    font-size: larger;
}
}