/* Styles For Mobile View*/

/* Global variable Styles*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color: #11258bb5;
    --secondary-color: rgba(255, 183, 39, 0.713);
    --accent-color: white;
    --font-family-heading: 'Merriweather', serif;
    --font-family-body: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;     
}

main

label {
    padding-bottom: 15px;
    font-weight: bold;
    align-items: right;
    justify-content: center;
}

.value {
    text-decoration: none;
    font-weight: 100;
    text-align: center;
    column-gap: 5px;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin-left:0 ;
}

.sec-data, .sec-weather {
    border-bottom: 0.5px solid rgb(147, 145, 145);
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
}

.hero-img {
    border-top: 1rem solid var(--secondary-color);
    border-bottom: 5px solid var(--primary-color);
    max-width: 100%;
}
