/*For larger view screen*/

@media screen and (min-width: 500px) {

    h2 {
        background-color: var(--secondary-color);
        max-width: 90%;
    }

    .sun-icon {
        display: none;
    }

    .sec-data, .sec-weather {
        box-sizing: border-box;
        border: 1px solid #9d9d9d;
        max-width: 30%;
        background-color: #d6d6d6;
        position: relative;
    }

    .sec-data {
        margin: 1rem;
    }

    .sec-weather {
        max-height: 50%;
        margin-right: 1rem;
    }

    .sec-weather h2::after {
        content: "⛅";
    }

    .hero-img {
        display: block;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 480px;
        border: none;
    }

    header, footer {
        position: relative;
        background-color: rgb(22, 22, 100);
    }
}